/* qzz.css */
body {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgba(255,0,0,0.40);
}

#quiz-container {
    text-align: center;
    background:rgba(0,255,0,0.75);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display:block;
    /* float: left; */
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result, #timer, #final-score {
    margin-top: 20px;
    font-weight: bold;
}

#timer {
    color: #FF5733;
}

#final-score {
    font-size: 18px;
    color: #007BFF;
}